.my-progressbar {
    background-color: transparent;
}

.my-progressbar .unity-progress-bar__container {
    min-height: 0px;
}

.my-progressbar .unity-progress-bar__background {
    background-color: rgb(34, 34, 34);
    min-height: 0px;
    border-radius: 5px;
    height: 10px;
}

.my-progressbar .unity-progress-bar__progress {
    background-color: rgba(75, 73, 200, 1);
    min-height: 0px;
    border-radius: 5px;
}

.unselected {
    opacity: 0.5;
    border-width: 0px;
}

.selected {
    opacity: 1;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: white;
}