.my-progressbar {
    background-color: transparent;
}

.my-progressbar .unity-progress-bar__container {
    min-height: 0;
}

.my-progressbar .unity-progress-bar__background {
    background-color: rgb(34, 34, 34);
    min-height: 0;
    border-radius: 5px;
    height: 10px;
}

.my-progressbar .unity-progress-bar__progress {
    background-color: rgb(75, 73, 200);
    min-height: 0;
    border-radius: 5px;
}

.unselected {
    opacity: 0.5;
    border-width: 0;
}

.selected {
    opacity: 1;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.button-transition {
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.button-transition:active {
    opacity: 0.6;
}

.screen {
    opacity: 0;
    /*transform: translateY(20px);*/
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    /*, transform 0.3s ease;*/
}

.show {
    opacity: 1;
    /*transform: translateY(0px);*/
}